/* 
Author URI: http://webthemez.com/ 
Donate to remove backlink form the template.
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background: #fff;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
::selection {
	color: #fff;
	background: #F64646;
}

::-moz-selection {
 color: #fff;
 background: #FFD500;
}
p {
	color: #858585;
	margin: 0 0 1em !important;
}
h1, h2, h3, h4, h5, h6, #home .heading strong {
	font-family: 'Fjalla One', sans-serif;
}
.fitImage {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.animated {
	/* -webkit-animation-duration: 1s; */
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.mcbook {
	opacity: 0;
}
.show {
	opacity: 1;
}
.pDark p {
	color: #6D6D6D;
}
.pDark h3 {
	color: #BEBEBE;
}
.btn {
	background: #FFD500;
}
.btn:hover {
	background: #145AC4;
}
.btn, .form-control, .team-socials i {
	border-radius: 5px !important;
}
.form-group {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 75%;
}
.form-control {
	border: none;
	padding: 22px 4px;
	outline: none;
	color: #5A5A5A;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 1);
	font-size: inherit;
	border-radius: 0px !important;
	width: 99%;
}
.button-outline {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	color: #fff;
	padding: 10px 25px;
	border: 2px solid #fff;
	border-radius: 0px;
	font-size: 16px;
	font-weight: 400;
	background: rgba(255,255,255,0.15);
}
.button-outline:hover {
	color: #fff;
	background: rgba(255,255,255,0.35);
}
a {
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover {
	color: #000;
	text-decoration: none;
}
.btn {
	border: 0px;
	border-radius: 0px;
}
.btn-primary {
	background: #fff;
	border: 1px solid #fff !important;
	color: #414141 !important;
}
.btn-secondary {
	background: transparent;
	border: 1px solid #fff !important;
	color: #fff;
}
.btn-primary:hover {
	background: #fff;
}
.btn-secondary:hover {
	background: transparent;
	color: #fff;
}
.btn {
	color: #fff;
	font-size: 18px;
	min-height: 50px;
	border-radius: 40px;
	text-decoration: none;
	display: inline-block;
	line-height: 24px;
	padding: 16px 30px 20px;
	z-index: 1;
	position: relative;
	border: none;
	margin-bottom: 15px;
}
.form-control {
	border-radius: 0px;
}
.mrgn30 {
	margin: 30px 0;
}
.copyright {
	color: #FFFFFF;
	background: #F64646;
	padding: 20px 0;
}
#top {
	position: relative;
}
.topHome {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5;
}
.topHome:hover {
	color: #F89F9F;
}
h2, .h2 {
	font-size: 43px;
}
#Header {
	margin-bottom: 52px;
	position: relative;
	width: 100%;
	height: 119px;
	line-height: 118px;
	z-index: 1;
	padding-top: 30px
}
.logo {
	width: auto;
	margin: 0 auto;
	padding: 16px;
	height: 125px;
	width: 165px;
}
.wrapper {
	margin: 0 auto;
	position: relative;
	width: 100%;
	z-index: 1;
}
#socialIcons {
	display: block;
}
#socialIcons ul {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#socialIcons ul li {
	margin-right: 5px;
	height: 35px;
	line-height: 40px;
	list-style-type: none;
	display: inline-block;
	background: rgba(224, 224, 224, 1);
	border-radius: 47px;
	padding: 5px;
}
#socialIcons ul li a {
	width: 34px;
	height: 34px;
	display: inline-block;
}
.twitterIcon, .facebookIcon, .linkedInIcon, .pintrestIcon {
	background: url('../images/social-icons.png') -74px 0px;
}
.facebookIcon {
	background-position: 10px 0px;
}
.linkedInIcon {
	background-position: -245px 0px;
}
.pintrestIcon {
	background-position: -331px 0px;
}
.tempBy {
	display: block;
	text-align: center;
	margin-top: 40px;
	color: #8A8A8A;
}
#Content h2 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 42px;
	font-weight: 300;
	color: #fff;
}
#WindowSlide {
	margin: 0 auto;
	position: relative;
	width: 634px;
	height: 170px;
	display: block;
	overflow: hidden;
}
#Mail {
	position: absolute;
	width: 634px;
	top: 0px;
	left: 0px;
}
#Content h3 {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	display: block;
	clear: both;
}
#subscribe p {
	text-align: center;
}
#subscribe input {
	background: rgba(255, 255, 255, 0.52);
	color: #7a7a7a;
	font: bold 19px;
	vertical-align: middle;
	width: 293px;
	border: 1px solid #000;
	padding: 10px;
}
#subscribe input[type="button"] {
	background: rgba(255, 255, 255, 1);
	width: auto;
	padding: 10px 25px;
	cursor: pointer;
	margin-left: -5px;
	font-weight: bold;
	font-size: 13px;
	color: #000;
}
.callback, .simple {
	font-size: 20px;
	background: #27ae60;
	padding: 0.5em 0.7em;
	color: #ecf0f1;
	margin-bottom: 50px;
	-webkit-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}
.callback {
	cursor: pointer;
}
.ended {
	background: #c0392b;
}
.countdown {
	text-align: center;
	margin-top: 30px;
}
.styled {
	margin-bottom: 60px;
}
.styled div {
	display: inline-block;
	margin-left: 10px;
	font-size: 70px;
	font-weight: normal;
	text-align: center;
	/* margin: 0 25px; */
	height: 100px;
	text-shadow: none;
	vertical-align: middle;
	color: #FFFFFF;
	margin: 10px 30px;
	height: auto;
	border-bottom: 2px rgba(255, 255, 255, 0.35) solid;
	padding-bottom: 15px;
	box-shadow: 0px 3px #D23030;
}
#overlay { 
	position: fixed;
	top: 0px;
	width: 100%;
	bottom: 0px;
	opacity: 0.8;
}
/* IE7 inline-block hack */
*+html .styled div {
	display: inline;
	zoom: 1;
}
.styled div:first-child {
	margin-left: 0;
}
.styled div span {
	display: block;
	font-size: 22px;
	margin-top: -10px;
	font-weight: normal;
	text-align: center;
}
.banner-container {
	background: #f64646;
	/* background-image: url('../images/dots.png'); */
	background-repeat: repeat;
	height: 760px;
}
/* wtMenu
----------------------------------------------*/
#mainNav {
	position: fixed;
	right: -200px;
	width: 200px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}
#menuToggle {
	position: absolute;
	left: -47px;
	z-index: 999;
	background: rgba(0, 0, 0, 0.30);
	top: 13px;
	cursor: pointer;
}
#menuToggle .fa {
	font-size: 18px;
	margin: 7px 10px;
	color: #fff;
}
#menuToggle:hover .fa {
	color: #888;
}
.menuLinks {
	position: absolute;
	top: 0;
	right: 0px;
	background: rgba(81, 73, 73, 1);
	width: 200px;
	height: 100%;
	z-index: 999;
	padding: 10px 0 0 0
}
.menuLinks li {
	list-style: none;
}
.menuLinks li a {
	margin-left: 20px;
	color: rgb(246, 70, 70);
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 38px;
	text-transform: uppercase;
}
.menuLinks li a:hover {
	color: #FFF;
}
/*home*/

#home .heading h2 {
	color: #fff;
	font-size: 54px !important;
	margin-top: 70px;
}
#home .heading strong {
	color: #fff;
	font-size: 30px;
	font-weight: normal;
}
/* Header 
----------------------------------------------*/
#section-top {
	background: #4E4E4E;
}
#section-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
#section-top ul li {
	display: inline-block;
}
#section-top ul li a {
	border-radius: 2px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 35px;
	text-align: center;
}
#section-top .region-top-first {
	float: right;
}
.header {
	position: fixed;
	width: 100%;
	background: rgba(27, 27, 27, 0.31);
	z-index: 50;
	border-radius: 0;
	top: 0px;
	border-bottom: 1px solid rgba(214, 214, 214, 0.26);
}
.addBg {
	background: rgba(5, 5, 5, 0.94);
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.navbar-inverse {
	background: transparent;
}
.navbar-inverse .navbar-toggle {
	background-color: #FFD500;
}
.navbar-inverse .navbar-toggle .icon-bar {
/*background-color: #FFD500;*/
;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #FFD500;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar-inverse .navbar-toggle:hover .icon-bar {
	background: #fff;
}
.navbar-toggle {
}
.hero-text {
	color: #676e73;
	width: 83%;
	text-align: center;
	margin: 7% auto 24px auto;
	font-family: 'Oswald', sans-serif;
}
.hero-text p {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 12px 8% 0;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
/*.carousel-inner*/
 
.actionPanel {
	padding: 25px 0;
	background: #FFD500;
}
.actionPanel h3 {
	margin: 0px;
}
.circle {
	color: #F64646;
	height: 80px;
	width: 80px;
	padding: 23px;
	font-size: 45px !important;
}
#section-strapline {
	background: #f00bfff;
	line-height: 42px;
	clear: both;
}
/*----Nav ----*/
.header .navbar-brand {
	float: left;
	padding: 22px 15px;
	line-height: 18px;
	height: 50px;/*color:#FF5200;*/
}
.navbar-brand b {
	color: #FFD500;
	font-family: 'Oswald', sans-serif;
	font-weight: 900;
}
.navbar-brand b i {
	color: #fff;
	font-style: normal;
}
.logo {
	font-size: 2.2em;
	text-shadow: none;
	margin: 8px 0 0 0;
}
.logo:hover {
	color: #5A5A5A;
}
.header .navbar {
	margin: 0;
	background: transparent;
	border: 0;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	font-size: 1.2em;
	line-height: normal;
	margin: 17px;
	padding: 6px 0px !important;
	border-radius: 5px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background: none;
	border-bottom: 2px solid #FFD500;
	border-radius: 0px;
}
.navbar-inverse .navbar-nav > .active {
}
.navbar-nav > li:hover > a {
	color: #fff;
}
.header .navbar-nav > li > a {
	padding: 25px 18px;
}
.page-section {
	width: 100%;
	height: auto;
	padding: 35px 0;
}
.noPadd {
	padding: 0;
}
.page-section h1 {
	font-size: 3.5em;
	margin: 90px 0 30px;
	line-height: 1.2em;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	color: #FFD500;
}
.page-section p {
	font-size: 15px;
	line-height: 22px;
}
.darkBg {
	background: #000;
}
.darkBg .fa {
	color: #FFD500;
}
#logo {
	margin-top: 6.875rem;
	text-align: center;
}
.hero-text p {
	font-size: 1.6em;
	color: #fff;
	font-style: normal;
	text-shadow: 1px 1px 1px #8F8F8F;
}
.arrow-link {
	display: inline-block;
	font-size: 32px;
	margin-top: 20px;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	text-align: center;
	vertical-align: top;
	width: 60px;
}
a.arrow-link {
	color: #FFD500;
}
a.arrow-link:hover {
	color: #fff;
}
.colord {
	background: #E4E4E4;
}
.colord p {
	color: #545454;
}
.colord h3 {
	color: #F64646;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.57);
}
.hero-button {
	text-align: center;
	background: rgba(255, 255, 255, 0.36);
	border: 1px solid #fff;
	padding: 20px;
	display: inline-block;
	margin: 0 auto;
	clear: left;
	width: auto;
}
.hero-img {
	text-align: center;
	margin: 124px auto 24px auto;
}
.da-slider {
	margin: 0 auto !important;
}
.heading h2 {
	color: #222;
}
#contactUs .heading h2 {
	color: #383838;
}
.sub-heading {
	padding: 15px 0;
}
.sub-heading h2 {
	font-size: 18px;
	margin: 15px 0 8px !important;
}
.sub-heading p {
	color: #5A5A5A;
}
.heading {
	padding: 3px 10px;
	padding-bottom: 15px;
	margin-bottom: 30px;
	display: block;
}
.pdingBtm30 {
	padding-bottom: 30px;
}
img, video, iframe, embed, object {
	max-width: 100%;
	height: auto;
}
/* Features
    -------------------------------------------------*/
#features h2 {
}
#features p {
}
.fetaure-details {
	margin-bottom: 45px;
}
.features .features-left {
	text-align: right;
}
.features .features-right {
	text-align: left;
}
#features h4 {
	color: #000;
	font-size: 24px !important;
}
#features p {
	color: #494949;
	font-size: 16px;
}
.features .phone-image {
	max-width: 250px;
	margin: auto auto 80px;
}
#aboutUs {
	background: #FFFFFF;
	padding-top: 35px;
	padding-bottom: 25px;
	overflow: hidden;
	color:#fff;	
}
#aboutUs p, #aboutUs h2{
color: #828282;
padding-bottom:10px;
}
#aboutUs .feature {
	margin-top: 30px;
	margin-bottom: 54px;
}
#aboutUs .right {
	padding-left: 32px;
	float: right;
}
#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs h3 {
	font: 18px/34px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #222;
}
.fluid-video-wrapper {
	margin-top: 18px;
}
#aboutUs .left {
	padding-right: 32px;
	float: left;
}
#aboutUs .right {
	float: right;
}
.row .six {
	width: 50%;
}
/* Services
    -------------------------------------------------*/
.grid .text-content {
	padding-left: 35%;
}
.grid .text-content {
	display: block;
	padding-left: 19%;
	padding-right: 8%;
}
.grid .grid-item {
}
.grid .text-content h5 {
	font-weight: bold;
}
.grid .grid-item .item-content {
	display: block;
	outline: none;
	text-decoration: none;
	padding: 20px 0;
}
.item-content .fa {
	position: absolute;
	color: #646464;
	font-size: 4.5em;
	top: 36px;
}
#contactUs {
/*background: #FFD500;*/;
}
#contactUs .btn {
	border-radius: 0px !important;
	border: 0px !important;
	background: #F64646; 
	color: #fff !important;
}
nav#filter {
	margin-bottom: 1.5em;
}
nav#filter li {
	display: inline-block;
	margin: 0 0 0 5px;
}
nav#filter a {
	padding: 4px 12px;
	line-height: 20px;
	border: 1px solid #FFD500;
	text-decoration: none;
}
.current {
	background: #FFD500;
	color: #fff;
}
.page-section.intro {
	min-height: 600px;
}
.btn {
	font-weight: 200;
}
.btn-dark {
	background: #444;
	color: #fff;
}
.btn-dark:hover {
	background: #000;
	color: #fff;
}
.back-to-top {
	display: inline-block;
	clear: both;
	background: #fff;
	color: #333;
	padding: 0 10px 5px;
	margin: 20px 0 0;
	text-shadow: none;
}
.back-to-top:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
hr {
	border-color: #ddd;
}
body {
	margin: 0;
	font-family: Arial, sans-serif;
}
#navigation {
	position: fixed;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	background: #ffffff;
	box-shadow: 0 10px 10px -10px #000000;
}
#navigation > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation > li > a {
	margin: 1px;
	color: #000000;
	background: #cccccc;
	display: block;
	padding: 5px;
	text-decoration: none;
	transition: all 400ms;
}
#navigation > li > a.current, #navigation > li:hover > a {
	background: #999999;
}
.pageSection {
	min-height: 600px;
	padding: 20px;
	background: #dddddd;
}
.pageSection:nth-child(odd) {
	background: #eeeeee;
}
.socialIcons li {
	list-style: none;
	display: inline;
	margin-right: 6px;
}
footer {
	padding: 35px 0 15px;
	background: #FFFFFF;
}
.social a:hover {
	color: #818181;
}
.social a {
	font-size: 32px;
	margin: 0 10px;
	color: #F64646;
}
.contact ul li {
	margin-bottom: 10px;
}
.contact ul li i {
	margin-right: 15px;
}
.portfolio-item img:hover {
	width: 110%;
	height: 110%;
}

@media (min-width: 768px) {
.header .navbar-brand {
	padding-left: 0;
}
.navbar-nav {
	float: right;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
	font-size: 1.1em;
	padding: 6px 0px !important;
	border-radius: 5px;
	margin: 19px 10px;
}
}

@media (max-width: 768px) {
.banner-container {
	height: 700px;
}
#home .heading h2 {
	font-size: 44px !important;
}
#home .heading strong {
	font-size: 19px;
}
.styled div {
	display: inline-block;
	margin-left: 10px;
	font-size: 50px;
}
.styled div span {
	font-size: 23px;
}
.row .six {
	width: auto;
}
.hero-img {
	display: none;
}
.header .navbar-nav > li > a {
	padding: 25px 12px;
}
}

@media (max-width:760px) {
.header .navbar-nav > li > a {
	padding: 7px 12px;
	font-size: 14px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #A8A8A8;
}
}

@media (max-width: 480px) {
.banner-container {
	height: 500px;
}
#home .heading h2 {
	font-size: 34px !important;
}
#home .heading strong {
	font-size: 14px;
}
.styled div {
	display: inline-block;
	margin-left: 10px;
	font-size: 28px;
}
.styled div span {
	font-size: 14px;
}
.navbar {
	min-height: 69px;
}
.arrow-link {
	display: none;
}
#section-top ul li a {
	height: 28px;
	line-height: 28px;
	width: 26px;
}
.page-section h1 {
	font-size: 3em;
}
.page-section h2 {
	font-size: 22px;
}
.page-section p {
	font-size: 14px;
	margin: 0 0 20px;
}
.copyright {
	font-size: 13px;
}
}

@media (max-width: 320px) {
.banner-container {
}
.grid .text-content {
	padding-left: 29%;
	padding-right: 2%;
}
nav#filter li {
	display: inline-block;
	margin: 0 0 23px 5px;
}
}
.customNavigation {
	text-align: center;
}
.customNavigation a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.contact-parlex {
	padding-top: 0px; 
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.parlex-back {
	padding: 30px 0;
	background-color: rgba(229, 229, 229, 1);
	color: #000 !important;
}
.parlex-back .heading p {
	color: #1A1A1A;
	font-weight: normal;
}
.customNavigation {
	display: none;
}
#clients .heading {
	margin: 0px;
}
li.active a {
color: #FFFFFF;
}

a.red{color:#F64646}